<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Find your apartment App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
		<div class="row">
			<div class="col-md-12">
				<%= render 'layouts/header'%>
			</div>
		</div>
		
		<div class="row">
			<%= yield %>
		</div>

		<!-- <div class="row">
			<div class="col-md-12">
				<%= debug(params) if Rails.env.development? %>
			</div>
		</div> -->
	</div>
</body>
</html>
